/* Light Theme */
/* Dark Theme */
/* Primaries */
body {
  font-size: 18px;
  font-family: 'Josefin Sans';
  font-weight: 400;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  height: 100vh;
}

.dark-mode {
  background-color: #161722;
  background-image: url("./images/bg-desktop-dark.jpg");
}

.light-mode {
  background-color: #fafafa;
  background-image: url("./images/bg-desktop-light.jpg");
}

.main-wrapper {
  position: relative;
  background-size: 100% 250px;
  background-repeat: no-repeat;
  height: 100vh;
}

.main-wrapper .todo-wrapper {
  position: relative;
  margin: 0 30%;
  padding-top: 7%;
}

.main-wrapper .todo-wrapper .heading {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: normal;
}

.main-wrapper .todo-wrapper .heading span {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.main-wrapper .todo-wrapper .create-todo {
  width: 100%;
  margin: 30px 0;
  margin-top: 31px;
  border-radius: 5px;
  background-color: #25273c;
}

.main-wrapper .todo-wrapper .create-todo .input-dark-mode {
  background-color: #25273c;
  border: 1px solid #25273c;
  color: #cacde8;
}

.main-wrapper .todo-wrapper .create-todo input {
  caret-color: #3a7bfd;
  border-radius: 5px;
  padding: 10px;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  -webkit-appearance: none;
  border: 1px solid #ddd;
}

.main-wrapper .todo-wrapper .todos-wrapper {
  position: relative;
}

.main-wrapper .todo-wrapper .todos-wrapper .todos-dark-mode {
  background-color: #25273c;
}

.main-wrapper .todo-wrapper .todos-wrapper .todos-light-mode {
  background-color: #ffffff;
}

.main-wrapper .todo-wrapper .todos-wrapper .todos {
  position: relative;
  border-radius: 5px;
  /* Drag Event */
}

.main-wrapper .todo-wrapper .todos-wrapper .todos .todo-dark-mode {
  color: #cacde8;
  border-bottom: 1px solid #4d5066;
}

.main-wrapper .todo-wrapper .todos-wrapper .todos .todo-light-mode {
  border-bottom: 1px solid #e4e5f1;
}

.main-wrapper .todo-wrapper .todos-wrapper .todos .draggable {
  cursor: move;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-wrapper .todo-wrapper .todos-wrapper .todos .over {
  border: 5px dotted #555555;
}

.main-wrapper .todo-wrapper .todos-wrapper .todos .todo {
  padding: 10px;
  margin: 1px;
  cursor: pointer;
}

.main-wrapper .todo-wrapper .todos-wrapper .todos .todo input {
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.main-wrapper .todo-wrapper .todos-wrapper .todos .todo span {
  margin: 0 10px;
}

.main-wrapper .todo-wrapper .todos-wrapper .todos .todo #cross {
  float: right;
  padding: 0 10px;
  display: none;
}

.main-wrapper .todo-wrapper .controls-dark-mode {
  background-color: #25273c;
  color: #cacde8;
}

.main-wrapper .todo-wrapper .controls-light-mode {
  background-color: #ffffff;
}

.main-wrapper .todo-wrapper .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #4d5066;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}

.main-wrapper .todo-wrapper .controls div {
  text-align: center;
}

.main-wrapper .todo-wrapper .controls div #items-left {
  padding: 0 5px;
}

.main-wrapper .todo-wrapper .controls div span {
  font-size: 15px;
}

.main-wrapper .todo-wrapper .controls div span:hover {
  color: #cacde8;
}

.main-wrapper .todo-wrapper .controls .state span {
  padding: 0 5px;
}

.main-wrapper .todo-wrapper #drag-drop {
  margin: 50px;
  text-align: center;
  color: gray;
}

/* JavaScript controlled class */
.completed {
  text-decoration: line-through;
  color: #4d5066 !important;
}

.input-completed {
  background-image: url("./images/icon-check.svg"), -webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
  background-image: url("./images/icon-check.svg"), linear-gradient(#57ddff, #c058f3);
  background-repeat: no-repeat;
  background-position: center;
}

.controls-position {
  color: #3a7bfd;
}

/* Queries Medias */
@media only screen and (max-width: 600px) {
  * {
    padding: 0;
    margin: 0;
  }
  .dark-mode {
    background-image: url("./images/bg-mobile-dark.jpg");
  }
  .light-mode {
    background-image: url("./images/bg-mobile-light.jpg");
  }
  .main-wrapper .todo-wrapper {
    position: relative;
    margin: 0 5%;
    padding-top: 12%;
  }
  .main-wrapper .todo-wrapper .controls div span:hover {
    color: #3a7bfd;
  }
  .main-wrapper .state-dark-mode {
    background-color: #25273c;
  }
  .main-wrapper .state-light-mode {
    background-color: #ffffff;
  }
  .main-wrapper .state {
    position: absolute;
    width: -webkit-fill-available;
    -webkit-transform: translate(-3%, 45px);
            transform: translate(-3%, 45px);
    padding: 10px;
    border-radius: 5px;
  }
}
/*# sourceMappingURL=style.css.map */