/* Light Theme */
/* Dark Theme */
/* Primaries */
body {
  font-size: 18px;
  font-family: 'Josefin Sans';
  font-weight: 400;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  height: 100vh;
}

.dark-mode {
  background-color: #161722;
  background-image: url("./images/bg-desktop-dark.jpg");
}

.light-mode {
  background-color: #fafafa;
  background-image: url("./images/bg-desktop-light.jpg");
}

.main-wrapper {
  position: relative;
  background-size: 100% 300px;
  background-repeat: no-repeat;
  height: 100vh;
}

.main-wrapper .todo-wrapper {
  position: relative;
  margin: 0 30%;
  padding-top: 5.5%;
}

.main-wrapper .todo-wrapper .heading {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: normal;
}

.main-wrapper .todo-wrapper .heading span {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.main-wrapper .todo-wrapper .create-todo {
  width: 100%;
  margin: 30px 0;
  margin-top: 31px;
  border-radius: 5px;
  background-color: #25273c;
}

.main-wrapper .todo-wrapper .create-todo .input-dark-mode {
  background-color: #25273c;
  border: 1px solid #25273c;
}

.main-wrapper .todo-wrapper .create-todo input {
  caret-color: #3a7bfd;
  border-radius: 5px;
  padding: 10px;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  -webkit-appearance: none;
  border: 1px solid #ddd;
}

.main-wrapper .todo-wrapper .todos-wrapper .todos-dark-mode {
  color: #cacde8;
  background-color: #25273c;
}

.main-wrapper .todo-wrapper .todos-wrapper .todos-light-mode {
  background-color: #ffffff;
}

.main-wrapper .todo-wrapper .todos-wrapper .todos {
  border-radius: 5px;
  color: #484b6a;
}

.main-wrapper .todo-wrapper .todos-wrapper .todos .todo-dark-mode {
  border-bottom: 1px solid #4d5066;
}

.main-wrapper .todo-wrapper .todos-wrapper .todos .todo-light-mode {
  border-bottom: 1px solid #fafafa;
}

.main-wrapper .todo-wrapper .todos-wrapper .todos .todo {
  padding: 10px;
  margin: 1px;
  cursor: pointer;
}

.main-wrapper .todo-wrapper .todos-wrapper .todos .todo input {
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.main-wrapper .todo-wrapper .todos-wrapper .todos .todo span {
  margin: 0 10px;
}

.main-wrapper .todo-wrapper .controls-dark-mode {
  background-color: #25273c;
}

.main-wrapper .todo-wrapper .controls-light-mode {
  background-color: #ffffff;
}

.main-wrapper .todo-wrapper .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}

.main-wrapper .todo-wrapper .controls div {
  text-align: center;
}

.main-wrapper .todo-wrapper .controls div #items-left {
  padding: 0 5px;
}

.main-wrapper .todo-wrapper .controls div span {
  font-size: 15px;
}

.main-wrapper .todo-wrapper .controls .state span {
  padding: 0 5px;
}

.main-wrapper .todo-wrapper #drag-drop {
  margin: 50px;
  text-align: center;
  color: gray;
}

/* JavaScript controlled class */
.completed {
  text-decoration: line-through;
}

.input-completed {
  background-image: url("./images/icon-check.svg"), -webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
  background-image: url("./images/icon-check.svg"), linear-gradient(#57ddff, #c058f3);
  background-repeat: no-repeat;
  background-position: center;
}

.controls-position {
  color: #3a7bfd;
}

/* Queries Medias */
/*# sourceMappingURL=style.css.map */